*.swp
wtMatrix.json
X.csv
.DS_Store
.idea
tmp/
**/.ipynb_checkpoints/
*.eps
**/__pycache__/
.~lock.*
**/.auctex-auto
*.bkp
*.dtmp
*.venv/
*.aux
*.fls
*.fdb_latexmk
.virtual_documents
.spyproject
**/*.egg-info
**/slurm-logs/*
flycheck_*
.direnv/*
