torch -i https://download.pytorch.org/whl/cu118
numpy
matplotlib
jupyterlab
pandas
jupytext
ipympl
jupyterlab-git
ipdb
black[jupyter]
ruff
seaborn
#nb_black
tqdm
scikit-learn
imojify
notebook
ipykernel
click
